<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"> </ion-back-button>
    </ion-buttons>
    <ion-title> Sobre </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list no-padding>
    <ion-item>
    <ion-icon name="person"></ion-icon>
    <p>Ivan Alves</p>
  </ion-item>
    <ion-item>
      <ion-icon name="logo-github" color="dark"></ion-icon><p><a href="https://github.com/ivanmpe"> Github </a></p>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" color="danger"></ion-icon>
      <p><a href="mailto:ivanalves94@gmail.com"> ivanalves94@gmail.com </a></p>
    </ion-item>
    <ion-item>
        <ion-icon name="logo-whatsapp" color="success"></ion-icon>
        <p> (85) 985090300 </p>
      </ion-item>
  </ion-list>
</ion-content>