.title{
  font-weight: bold;
  padding: 2px;
  margin: 5%;
}


h1{
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px black;
}

.logo{
  font-size: 80px;
  margin: 0%;

}


b{
  color: #D40000;
}


.logo{
  display:block;
  width:50%;
  height:30%;
  margin-left:auto;
  margin-right:auto;
}