<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="comics">
      <ion-icon name="ios-book"></ion-icon>
      <ion-label>Quadrinhos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="characters">
      <ion-icon name="ios-people"></ion-icon>
      <ion-label>Heróis</ion-label>
    </ion-tab-button>

    <!-- ion-tab-button tab="cart">
      <ion-icon name="ios-cart"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>
  -->
    <ion-tab-button tab="profile">
      <ion-icon name="ios-person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
