ion-item{
    width: 40%;
    background-color: black;
}

.details{
    padding-bottom: 20px;
}

.span-description{
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}


.image{
    width: 100%;
    text-align: center;
}

.name-comic{
    font-size: 20px;
}