
ion-title{
    color: #D40000;
}


.list-change{
    background-color: white;
    text-align: justify;
}

.btn-changePassword{
    background-color: transparent   ;
    color: #D40000;
    width: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 25px;
    border: 2px solid #D40000;
    text-transform: none;
    font-size: 1.2em;
    padding: 10px;
}


  