<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"> </ion-back-button>
    </ion-buttons>
    <ion-title> Mudar Senha </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form #f="ngForm" (submit)="form_changePassword(f)">
    <ion-list>
      <ion-label><strong> Nova senha: </strong> </ion-label>
      <ion-item class="list-change">
        <ion-input class="list-change" type="password" placeholder="Nova senha" required ngModel name="newPassword">
        </ion-input>
      </ion-item>
      <ion-label> <strong> Repita: </strong> </ion-label>
      <ion-item class="list-change">
        <ion-input class="list-change" type="password" placeholder="Repita nova senha" required ngModel
          name="againNewPassword"> </ion-input>
      </ion-item>
    </ion-list>
    <button ion-button class="btn-changePassword" type="submit"> Alterar </button>
  </form>

</ion-content>