/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.login{
    width: 50%;
    text-transform: none;
    color: white;
    left: 50%;
    background-color: transparent;
    border: 2px solid white;
    font-size: 28px;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
}


.form{
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%; 
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;
}


ion-input{
    height: 100%;
    font-size: 20px;
    color: #000; 
    background: transparent;
    font-weight: bold;
  }


    
ion-footer{
    background-image: none;
    text-align: center;
    font-size: 15px;
}

ion-toolbar{
    font-weight: bold;

}


ion-title{
    font-size: 22px;
    color: #D40000;
    font-weight: bold;
    text-align: center;
}


/* Register page */

ion-item{
    margin: 3%;    
}
   

  .form{
      opacity: 1.0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%; 
      transform: translateY(-50%) translateX(-50%);
      border-radius: 10px;
    }
      
  
  
  .item-form{
    color: black;
    width: 95%;
    font-size: 15px;
    box-shadow: rgb(78, 71, 71) 2px 3px 2px;

  }
    ion-input{
      height: 100%;
      font-size: 15px;
      color: #000; 
      background: transparent;
      font-weight: bold;
  
    }
    
  .register{
      width: 50%;
      text-transform: none;
      color: white;
      left: 50%;
      background-color: transparent;
      border: 2px solid white;
      font-size: 1.2em;
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      margin-top: 10%;
      margin-bottom: 10%;
      padding: 5%;
  }